<h2>Show cheevo</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @cheevo.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @cheevo.description %>
  </li>

  <li>
    <strong>Achieved:</strong>
    <%= @cheevo.achieved %>
  </li>

</ul>

<%= link "Edit", to: cheevo_path(@conn, :edit, @cheevo) %>
<%= link "Back", to: cheevo_path(@conn, :index) %>
