<h2>Edit achievement</h2>

<%= render "form.html", changeset: @changeset,
                        action: achievement_path(@conn, :update, @achievement) %>

<%= link "Back", to: achievement_path(@conn, :index) %>
